# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib
*.log
*.ini
.gitignore
# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Project-local glide cache, RE: https://github.com/Masterminds/glide/issues/736
.glide/
.vscode

/proto/rpc/*.go

.idea/
./usr_service/logfile/
./gateway/logfile/
./wallet_service/logfile/
./currency_service/logfile/
./token_service/logfile/
./public_service/logfile/

./usr_service/user_service
./gateway/gateway
./wallet_service/wallet_service
./currency_service/currency_service
./token_service/token_service
./public_service/user/public_service
/admin/*


./bin/*.exe
./bin/*_service
